h1 Modifier le groupe

== render 'form'

=> link_to content_tag(:i, nil, class: "fa fa-eye mr-1") + "Infos", @groupe, class: "btn btn-outline-success blanc"
=< link_to content_tag(:i, nil, class: "fa fa-reply mr-1") + "Retour", groupes_path, class: "btn btn-outline-info blanc"
