h1 Modifier la séance

== render 'form'

=> link_to content_tag(:i, nil, class: "fa fa-eye mr-1") + "Infos", @seance, class: "btn btn-outline-success blanc"
=< link_to content_tag(:i, nil, class: "fa fa-reply mr-1") + "Retour", seances_path, class: "btn btn-outline-info blanc"

