// fa-trash-o { color: #b9121b !important; }
// .fa-eye     { color: #b0cc99 !important; }
// .fa-pencil  { color: #0095b6 !important; }
// .blanc      { color: #ffffff !important; }

// button.btn.btn-primary { float: left; margin-right: 5px; }

// select { height: 2.5em !important; }

// .fields .form-inline {border: 2px solid #ebeced;  border-radius: 5px; }