h1 Modifier le type de durée

== render 'form'

=> link_to content_tag(:i, nil, class: "fa fa-eye blanc mr-1") + "Infos", @type_duree, class: "btn btn-outline-success blanc"
'
=< link_to content_tag(:i, nil, class: "fa fa-reply mr-1") + "Retour", types_duree_path, class: "btn btn-outline-info blanc"

