h1 Modifier la formation

== render 'form'

=> link_to content_tag(:i, nil, class: "fa fa-eye blanc mr-1") + "Infos", @formation, class: "btn btn-outline-success blanc"
'
=< link_to content_tag(:i, nil, class: "fa fa-reply blanc mr-1") + "Retour", formations_path, class: "btn btn-outline-info blanc"

