h1 Modifier le mode d'apprentissage

== render 'form'

=> link_to content_tag(:i, nil, class: "fa fa-eye mr-1") + "Infos", @type_formation, class: 'btn btn-outline-success blanc'
=< link_to content_tag(:i, nil, class: "fa fa-reply mr-1") + "Retour", types_formation_path, class: 'btn btn-outline-info blanc'

