h1 Modifier la salle
hr
== render 'form'

=> link_to content_tag(:i, nil, class: "fa fa-eye mr-1") + "Infos", @salle, class: "btn btn-outline-success"
'
=< link_to content_tag(:i, nil, class: "fa fa-reply mr-1") + "Retour", salles_path, class: "btn btn-outline-info"
