h1 Modifier le document

== render 'form'

=> link_to content_tag(:i, nil, class: "fa fa-eye mr-1") + "Infos", @document, class: "btn btn-outline-success blanc"
=< link_to content_tag(:i, nil, class: "fa fa-reply mr-1") + "Retour", documents_path, class: "btn btn-outline-info blanc"

