h1 Editing etablissement

== render 'form'

=> link_to content_tag(:i, nil, class: "fa fa-eye mr-1") + "Infos", @etablissement, class: "btn btn-outline-success blanc"
=< link_to content_tag(:i, nil, class: "fa fa-reply mr-1") + "Retour", etablissements_path, class: "btn btn-outline-info blanc"

