h1 Modifier le centre de responsabilité

== render 'form'

=> link_to content_tag(:i, nil, class: "fa fa-eye mr-1") + "Infos", @centre_de_responsabilite, class: "btn btn-outline-success blanc"
'|
=< link_to content_tag(:i, nil, class: "fa fa-reply mr-1") + "Retour", centres_de_responsabilite_path, class: "btn btn-outline-info blanc"

